.well
  .tag.cursor-pointer(ng-repeat="tag in tags" 
    ng-mouseenter="setHoveredTag(tag)" ng-mouseleave="resetHoveredTag()" 
    ng-click="swapSelection(tag)" ng-class="{selectedtag:isSelectedTag(tag)}") [[ tag.name ]]
