.col-md-6
  p Сортировать по: 
    a.cursor-pointer(ng-click="predicate = '-priority'" ng-class="{selectedpredicate:isPredicate('-priority')}") Приоритету
    | , 
    //- a.cursor-pointer(ng-click="predicate = 'nothing'") Срочности
    //- | , 
    a.cursor-pointer(ng-click="predicate = 'name'" ng-class="{selectedpredicate:isPredicate('name')}") Имени
  p Показывать за [[ interval ]]
    a.caret.cursor-pointer(dropdown)
    ul.dropdown-menu(role="menu")
      li: a.cursor-pointer(ng-click="setInterval('Все время')") Все время
      li: a.cursor-pointer(ng-click="setInterval('Неделя')") Неделя
      li: a.cursor-pointer(ng-click="setInterval('Три дня')") Три дня
      li: a.cursor-pointer(ng-click="setInterval('День')") День


.col-md-2.btn-group(dropdown)
  //- button.btn.btn-sm.btn-default(type="button")
  button.btn.btn-sm.btn-default.dropdown-toggle(type="button")  [[ interval ]] 
    span.caret
  ul.dropdown-menu(role="menu")
    li: a.cursor-pointer(ng-click="setInterval('Все время')") Все время
    li: a.cursor-pointer(ng-click="setInterval('Неделя')") Неделя
    li: a.cursor-pointer(ng-click="setInterval('Три дня')") Три дня
    li: a.cursor-pointer(ng-click="setInterval('День')") День

.col-md-4
  button.btn.btn-lg.btn-success.glyphicon.glyphicon-plus.pull-right(type="button" ng-click="openCreationView()")

.col-md-12(style="margin:20px;")
ul.col-md-8.list-group
    task(ng-repeat="task in tasks|hasTags:tags|orderBy:predicate" ng-click="openDetailsView(task)")


.col-md-4
  sidebar
  tag-cloud
