.col-md-4
  p Сортировать по: 
    a(href="#") Приоритету
    | , 
    a(href="#") Срочности


.col-md-4.btn-group(dropdown)
  button.btn.btn-sm.btn-primary(type="button") [[ interval ]] 
  button.btn.btn-sm.btn-primary.dropdown-toggle(type="button") 
    span.caret
  ul.dropdown-menu(role="menu")
    li: a.cursor-pointer( ng-click="setInterval('Все время')") Все время
    li: a.cursor-pointer( ng-click="setInterval('Неделя')") Неделя
    li: a.cursor-pointer( ng-click="setInterval('Три дня')") Три дня
    li: a.cursor-pointer( ng-click="setInterval('День')") День

.col-md-4
  button.btn.btn-lg.btn-success.glyphicon.glyphicon-plus.pull-right(type="button" ng-click="openTaskCreationForm()")

.col-md-12(style="margin:20px;")
.col-md-8.list-group
    li.list-group-item(ng-repeat="task in tasks" ng-click="showDetails(task)" ng-class="{selected:isSelected(task)}") 
      input(type="checkbox" ng-model="task.completed" ng-change="switchComplete(task)") 
      | [[ task.name ]]
.col-md-4.well
  sidebar
    //- (task="currentTask" mode="sidebarMode")