//- .modal-header
//- 	h3.modal-title Create Watcher

//- 	.modal-body
//- 		form.form-horizontal( name='createTaskForm', ng-submit='submitTask()', novalidate, role='form')
//- 				.form-group
//- 					label.col-sm-4.control-label Choose name:
//- 					.col-sm-8
//- 						input.form-control(type='text', ng-model='watcher.name', required='required', placeholder='churches burned:')
//- 					div(ng-repeat="task in tasks")
						

					
//- 					