toaster-container
.well
  div(ng-show="sidebarMode === 'news'")
    p Прошла неделя, не хотите посмотреть 
      a.cursor-pointer сводку?
    p Задача 
      a.cursor-pointer Сжечь еретика 
      | Пропущена. 

  div(ng-show="sidebarMode === 'taskDetail'")
    h5.sidebar-heading [[ selectedTask.name ]]   
      i.text-primary.cursor-pointer.fa.fa-edit.pull-right(ng-click="openEditionView(selectedTask)" tooltip="Редактировать" tooltip-placement="right" tooltip-popup-delay="500")
    p Приоритет: [[ selectedTask.priority ]] 
    p Pomodoro: [[ selectedTask.pomodoro_all ]] | [[ selectedTask.pomodoro_completed ]]
    div(style="overflow:hidden")
      .tag(ng-repeat="tag in selectedTask.tags") [[ tag ]]
    i.text-danger.cursor-pointer.glyphicon.glyphicon-remove.pull-right(ng-click="delete(selectedTask)" tooltip="Удалить" tooltip-placement="right" tooltip-popup-delay="500")


  form.form-horizontal(ng-submit="save(selectedTask)" ng-show="sidebarMode === 'taskEdition' || sidebarMode === 'taskCreation'")
    label.control-label.col-lg-4(for="name") Название:
    .col-lg-8
      input.form-control(id="name" type="text" ng-model="selectedTask.name")
    label.control-label.col-lg-4(for="priority") Приоритет:
    .col-lg-8
      input.form-control(id="priority" type="number" min="0" max="5"  ng-model="selectedTask.priority")
    button.btn.btn-sm.btn-success.pull-right(type="submit") Сохранить

p UNACCAPTABLE










//- label.control-label.col-lg-4 #Повторять:
//- .col-lg-8
//-   input.form-control(ng-model="selectedTask.type")
//- label.control-label.col-lg-4 Теги:
//- .col-lg-8
//-   tags-input(ng-model="selectedTask.tags")
    //- auto-complete(source="loadTags()")