.modal-header
		h3.modal-title [[ formName ]]

		p [[ task ]]

		.modal-body
			form.form-horizontal(name='createTaskForm', ng-submit='submitTask()', novalidate, role='form')
				.form-group
					label.col-sm-4.control-label(for='inputTaskName') Choose name:
					.col-sm-8
						input#inputTaskName.form-control(type='text', ng-model='task.name', required='required', placeholder='e.g. validation for that form')
					
					label.col-sm-4.control-label(for='inputTaskProject') Choose project:
					.col-sm-8
						select#inputTaskProject.form-control(ng-model='task.project', ng-options="project.name for project in projects")
					
					label.col-sm-4.control-label(for='inputAvailability') Choose availability :
					.col-sm-8
						select#inputAvailability.form-control(ng-model='task.availabilityType' ng-change="setDaysAvailable()")
							option(value='anytime') Anytime
							option(value='repeated') Repeated
							option(value='once') Only once

					div(ng-show="task.availabilityType === 'repeated'")
						label.col-sm-4.control-label Choose days
						.col-sm-8.btn-group.btn-group-sm
							label.btn.btn-default(ng-model="task.daysAvailable[0]" btn-checkbox) Monday
							label.btn.btn-default(ng-model="task.daysAvailable[1]" btn-checkbox) Tuesday
							label.btn.btn-default(ng-model="task.daysAvailable[2]" btn-checkbox) Wednesday
							label.btn.btn-default(ng-model="task.daysAvailable[3]" btn-checkbox) Thursday
							label.btn.btn-default(ng-model="task.daysAvailable[4]" btn-checkbox) Friday
							label.btn.btn-default(ng-model="task.daysAvailable[5]" btn-checkbox) Saturday
							label.btn.btn-default(ng-model="task.daysAvailable[6]" btn-checkbox) Sunday
					div(ng-show="task.availabilityType === 'once'")
						label.col-sm-4.control-label Choose Due date:
						.col-sm-8
							input.form-control(type="date" ng-model="task.dueDate")

					label.col-sm-4.control-label Pomodoro:
					.col-sm-8
						input.form-control(type="number", placeholder="temporary" ng-model='task.pomodoro')
						btn-group
							button.btn.btn-danger Pomodoro
							button.btn.btn-info Habit
						rating(ng-model='task.pomodoro')
					label.col-sm-4.control-label Choose priority:
					.col-sm-8
						input.form-control(type="number", placeholder="temporary" ng-model='task.priority')
						//- rating(ng-model='task.priority')



						





				//- .form-group(ng-form)
				//- 	.form-inline
				//- 	.col-sm-5
				//- 		input.form-control(type="text", ng-model='counter.name' placeholder="Enter counter") 
				//- 	.col-sm-3
				//- 		input.form-control(type="number", min="0" ng-model="counter.value", placeholder="planned value")
				//- 	.col-sm-2
				//- 		input.form-control(type="text", placeholder="units" ng-model="counter.units")
				//- 	.col-sm-2
				//- 	button.btn.btn-primary(type="button" ng-click="addCounter()") Add counter
				//- ul
				//- 	li(ng-repeat="aqcounter in task.counters") {{ aqcounter.name }} {{ aqcounter.value}} {{ aqcounter.units }}
				//- 		button.btn.btn-danger.btn-xs(type="button", ng-click="deleteCounter()") delete 		

				
				.modal-footer
					button.btn.btn-primary.pull-right(type='submit') Submit